@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Sono&family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
.login{
    font-family: 'Ubuntu', sans-serif;
}
.login section form input{   
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    width: 47%;
    margin: 31px auto;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.btn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 17%;
    margin: 31px auto 0 auto;
    font-size: 17px;
    color: white;
    background-color: #5a50eb;
    border: none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
.btn:hover{
    background-color: white;
    border: 2px solid #5a50eb;
    color: #5a50eb;
    padding-top: 13px;
    padding-bottom: 13px;
}
.login section form h4{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.sign{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 15px;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}